:root {
  --primary: hsl(210, 50%, 40%);
  --secondary: hsl(201, 51%, 69%);
  --dark: hsl(203, 30%, 26%);
  --accent: hsl(110, 80%, 25%);
  --light: hsl(124, 64%, 91%);
  --white: hsl(0, 0%, 100%);
}

/* Reset & Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--dark);
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
  color: var(--dark);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary);
  color: var(--white);
  position: relative;
  padding: 0.5rem;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 1.25rem;
  font-weight: bold;
  max-width: 15ch;
}

span#course-title {
  font-size: 1.5rem;
  display: block;
}

.hamburger-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  position: relative;
}

.hamburger-menu::before {
  content: "\2630";
  font-size: 2rem;
  cursor: pointer;
}

.hamburger-menu.show::before {
  content: "\00D7";
  font-size: 2rem;
}

nav {
  display: none;
  align-items: center;
  gap: 2rem;
  font-size: 0.9rem;
}

nav.active {
  display: flex;
  background-color: var(--primary);
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 50%;
  padding: 1.5rem;
}

nav a {
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  color: inherit;
  position: relative;
}

nav a:hover {
  font-weight: 600;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: white;
}

.theme-toggle {
  background: none;
  border: none;
  color: var(--light);
  cursor: pointer;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.theme-toggle::before {
  content: "\25D0";
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 7px;
}

.toggle-buttons {
  display: flex;
  align-items: center;
  gap: 5px;
}

main {
  padding-block: 2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.page-title {
  padding-inline: 1rem;
  text-align: center;
}

.view-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.view-buttons button {
  background: var(--primary);
  color: var(--white);
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.directory-container {
  display: grid;
  gap: 2rem;
}

.directory-container:has(.grid-view) {
  padding-inline: 1rem;
}

#directory.grid-view .business-card {
  border-radius: 0.5rem;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.business-card h2 {
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 600;
}

.business-card .phone {
  margin-block: 0.5rem;
}

#directory.list-view .business-card img {
  display: none;
}

#directory.list-view .business-card:nth-child(even) {
  background-color: rgb(246, 255, 247);
}

#directory.list-view .business-card {
  padding: 1.25rem;
}

.view-buttons button:hover,
.view-buttons button.active {
  background: var(--accent);
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.list-view {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.socials {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.footer {
  background: var(--primary);
  color: var(--white);
  padding: 2rem;
  text-align: center;
  margin-top: auto;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: space-between;
  gap: 2rem;
}

.footer-contact,
.footer-credits {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-credits p {
  font-weight: 500;
  font-size: 1.1rem;
}

.footer-contact span {
  font-weight: bold;
  font-size: 1.25rem;
}

.footer-contact small {
  font-size: 0.95rem;
}

.socials a {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.socials a svg {
  width: 100%;
  height: 100%;
  fill: var(--white);
  transition: fill 0.3s ease;
}

.socials a:hover svg {
  fill: var(--light);
}

@media (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    position: static;
    width: auto;
  }

  nav.active {
    display: none;
  }

  .logo-text {
    max-width: 30ch;
  }

  .page-title {
    text-align: left;
  }

  #directory.grid-view h2 {
    height: 70px;
  }

  #directory.list-view .business-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .list-view .business-card .phone {
    margin-block: 0;
  }

  footer.footer {
    text-align: left;
  }
}
